@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 0.75fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 25px;
  grid-auto-flow: row;
  grid-template-areas:
    "supervisor team-builder calculator"
    "supervisor karma calculator";
  margin: 2% 15%;
  align-items: center;
  justify-items: center;
}

header {
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  h1 {
    font-weight: lighter;
  }
  .bold {
    font-weight: 900;
  }
  h2 {
    font-size: 16px;
    font-weight: lighter;
  }
}

.card {
  border-radius: 5px;
  box-shadow: 5px 5px 20px #888888;
  padding: 10px 20px;
  width: 300px;
  height: 200px;
  justify-items: start;
  h3 {
    font-weight: 900;
  }
  p {
    font-size: 12px;
    color: gray;
  }
  .img {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}

.supervisor {
  grid-area: supervisor;
  border-top: cyan solid 3px;
}

.calculator {
  grid-area: calculator;
  border-top: blue solid 3px;
  
}

.team-builder {
  grid-area: team-builder;
  border-top: red solid 3px;
}

.karma {
  grid-area: karma;
  border-top: yellow solid 3px;
}
